* {
  box-sizing: border-box;
}

h1 {
  font-weight: normal;
}

a {
  text-decoration: none;
  font-size: xx-large;
  background: linear-gradient(135deg, rgba(43, 171, 217, 1) 0%, rgba(0, 130, 200, 1) 100%);
  -webkit-background-clip: text;
  color: black;
}

html,
body {
  height: 100%;
  background-color: white;
  font-family: 'Montserrat', Arial;
  margin: 0px;
}

.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 20em;
}

.scroller>span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

@keyframes slide {
  0% {
    top: 0;
  }

  25% {
    top: -1.2em;
  }

  50% {
    top: -2.4em;
  }

  75% {
    top: -3.6em;
  }
}

.murcialab {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: flex-end;
  margin-top: 3rem;
}

#manifesto {
  margin: 1rem;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: large;
  width: 10rem;
  height: 3rem;
  padding: 1rem 2rem;
  border: 0.15rem solid #000;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  transition: all 0.3s ease;
  overflow: hidden;
}

#manifesto:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  transform: scale(.1);
}

#manifesto:hover {
  color: rgb(255, 255, 255);
  background-color: #000;
}

#manifesto:hover:after {
  background: #000;
  transform: scale(1);
}

.footer {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  margin-bottom: 1rem;
}

.spacer {
  margin-left: 20%;
  margin-right: 20%;
}

.slider-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.slider {
  width: 100%;
  max-width: 1000px;
  margin: 1rem 3rem;
  height: 12rem;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 12rem;
  margin-right: 0px;
  box-sizing: border-box;
  background: white;
  transform-origin: center center;
  transform: scale(1);
  scroll-snap-align: center;
}

.slide_text {
  font-family: 'Montserrat', sans-serif;
}

.slide a {
  background: none;
  border: none;
}

a.slide__prev,
.slider::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 5%;
}

a.slide__next,
.slider::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}

.slider::before,
.slider::after,
.slide__prev,
.slide__next {
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border: solid black;
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
}

.slider::before,
.slider::after {
  content: '';
  z-index: 1;
  background: none;
  pointer-events: none;
}
