html,
body {
  height: 100%;
  background-color: white;
  font-family: 'Montserrat', Arial;
  margin: 0rem;
}

p {
  margin: 0.75rem;
  text-indent: 1.5rem;
  text-align: justify;
  font-size: small;
}

ol {
  text-indent: 1.5rem;
}

li {
  margin: 0.75rem;
  text-align: justify;
  font-size: small;
}

div {
  line-height: 1rem;
  margin: 2rem 10rem;
}

#logo {
  display: block;
  margin: 2rem auto;
}

#footer {
  display: block;
  margin: 1rem auto;
}